<h2>{{ site.data.navigation.docs_list_title }}</h2>
{% assign links = site.data.navigation.docs %}
{% for link in links %}
  {% assign class = nil %}
  {% if page.url contains link.url%}
    {% assign class = 'active' %}
  {% endif %}
  {% if link.sublinks %}
  <li>
    <a href="{{ link.url }}">{{ link.title }} </a>
    <ul >
      {% for sublink in link.sublinks %}
      <li>
        <a href="{{ sublink.url }}">{{ sublink.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </li>
  {% else %}
  <li class="{{ class }}">
    <a href="{{ link.url }}">{{ link.title }}</a>
  </li>
  {% endif %}
{% endfor %}